body{
    background-color: #e3ce9b;
}

div.logo {
    display: flex;
    justify-self: center;
    justify-content: center;
    color: #000000;
    background-color: #31ff08;
    height: 100px;
    width: 500px;
    border-radius: 10px;
}

.logo h1 {
    font-size: 32pt;
    margin-top: 30px;
}

div.marco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.tarjeta .cont {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #31ff08;
    border-radius: 10px;
    margin: 30px;
}

.tarjeta .cont img {
    margin: 10px;
}

div.cadena {
    font-size: 64pt;
}



footer {
    bottom: 0;
    background-color: #31ff08;
    font-size: 18px;
}


